# Byte-compiled / optimized Python files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
*.env

# IDEs
.idea/
.vscode/

# Logs and databases
*.log
*.sqlite3

# Compiled Python files
*.pyc

# Ignore pipenv virtual environment
.Pipfile*
